@import './icomoon/style.css';

@font-face {
	font-family: 'Droid serif';
	src: url(./droidserif.ttf);
}

@font-face {
	font-family: 'Droid serif';
	font-style: italic;
	src: url(./droidserif-italic.ttf);
}

body {
	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	margin: 0px;
	line-height: 1.6;
}
#app {
	position: relative;
	padding-top: 2rem;
	max-width: 768px;
	margin: auto;
}
#help {
	position: absolute;
	top: 6rem;
	right: 1rem;
	width: 240px;
	z-index: 0;
	background: #fff;
	padding: 1rem;
	box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, .15);
	transform: translateY(-2.5rem);
	opacity: 0;
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}
#help.show {
	transform: translateY(0rem);
	opacity: 1;
}
#help #madeby {
	margin-top: 1rem;
}
#editor {
	opacity: 0;
}
.editor-toolbar {
	border: none;
	background: #fff;
	text-align: center;
	position: sticky;
	top: 0px;
	z-index: 50;
	opacity: 1;
}
.editor-toolbar a {
	margin: 0.5rem;
	color: #000 !important;
	border: none;
}
.editor-toolbar a:hover {
	background: #f5f5f5;
	border: none;
}
.editor-toolbar a.active {
	background: #efefef;
	border: none;
}

.CodeMirror.cm-s-paper.CodeMirror-wrap {
	border: none;
}
.CodeMirror,
.CodeMirror-scroll {
	min-height: calc(100vh - 8rem);
}
.CodeMirror .CodeMirror-line .cm-spell-error {
	background: transparent !important;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
}
